@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	background-color: inherit;
	border: none;
}
/* NAVBAR */

body.scroll {
	overflow: hidden;
}

.nav {
	padding: 20px;
	width: 100%;
	background-color: #3b3b98;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-img {
	width: 40px;
}

.nav__button {
	align-self: flex-end;
	background-color: inherit;
	border: none;
	cursor: pointer;
}

.nav__h2 {
	font-size: 2rem;
}

.ul {
	background-color: #3b3b98;
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	height: 0;
	line-height: 3rem;
	overflow-y: auto;
	left: -110%;
	transition: all 0.5s ease-in-out;
}

.ul.active {
	height: 100vh;
	left: 0;
}
.ul__li:hover {
	color: #ffffff;
	transition: all 0.3s ease;
}
.ul__li {
	margin: 60px;
}

.ul__button {
	position: absolute;
	top: 10px;
	right: 65px;
	padding-top: 10px;
	background-color: inherit;
	border: none;
	cursor: pointer;
}

.cart-button {
	position: relative;
	background-color: inherit;
	border: none;
	/* pointer-events: all; */
	cursor: pointer;
}

.cart-span {
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.5rem;
}
/* PRODUCTOS titulo */

.section {
	padding: 20px;
}
.section__h2 {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
}

/* PRODUCTOS EN CART */

.cart-contenedor {
	position: fixed;
	background-color: #ced6e0;
	width: 100vw;
	height: 0;
	padding: 20px;
	overflow: scroll;
	top: 0;
	left: -110%;
	transition: all 0.5s ease-in-out;
}

.cart-contenedor.open {
	height: 100vh;
	left: 0;
}

.cart-close {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-bottom: 50px;
}
.cart-info {
	margin: 20px 0;
	width: 100%;
	background-color: #57606f;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-btndelete {
	cursor: pointer;
}
.cart-img {
	width: 100px;
}
.cart-h3 {
}
.cart-p {
}

.bx-trash {
	font-size: 2rem;
}

.cart-unidades {
	background-color: inherit;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	width: 15%;
}

.bx-minus-circle,
.bx-plus-circle {
	font-size: 1.2rem;
}

.cart-price {
	padding: 20px;
}

.cart-clean {
	border-radius: 25px;
	background-color: #3b3b98;
	padding: 20px;
}

/* section productos */

.container {
	background-color: #ced6e0;
	padding: 20px;
}

.div-info {
	margin: 2rem auto;
	width: 70%;
	background-color: #57606f;
}

.div__img {
	width: 100%;
}

.div-product {
	padding: 1rem;
	line-height: 2rem;
	display: flex;
	flex-direction: column;
}

.div__h3 {
}
.div__button {
	color: #ffffff;
	background-color: #3b3b98;
	border: none;
	align-self: center;
	width: fit-content;
	padding: 10px;
	border-radius: 50px;
	cursor: pointer;
}

.div__p {
	align-self: center;
}

/* FOOTER */

.footer {
	background-color: #3b3b98;
	text-align: center;
}

.footer__h2 {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
}

.footer__ul {
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.footer__ul-li {
	padding: 20px;
}

@media screen and (min-width: 455px) {
	body {
		background-color: #ffffff;
	}

	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		/* gap: 10px; */
		padding: inherit;
	}

	.div-info {
		margin: 1rem auto;
		width: 70%;
		background-color: #57606f;
	}
}
